<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codelucky.spzx.manager.mapper.product.BrandMapper">

    <sql id="columns">
        id
        ,
       name,
       logo,
       create_time,
       update_time,
       is_deleted
    </sql>

    <!--    新增品牌数据-->
    <insert id="save">
        insert into brand(name, logo)
        values (#{name}, #{logo})
    </insert>

    <!--    修改品牌数据-->
    <update id="updateById">
        update brand
        set
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="logo != null and logo != ''">
            logo = #{logo},
        </if>
        update_time = now()
        where id = #{id}
    </update>

    <!--根据id删除品牌数据-->
    <update id="deleteById">
        update brand
        set is_deleted=1,
            update_time=now()
        where id = #{id}
    </update>

    <!-- 查询品牌管理数据-->
    <select id="findByPage" resultType="com.codelucky.spzx.model.entity.product.Brand">
        select
        <include refid="columns"/>
        from brand
        where is_deleted = 0
        order by id desc
    </select>
    <!--    查询所有-->
    <select id="findAll" resultType="com.codelucky.spzx.model.entity.product.Brand">
        select
        <include refid="columns"/>
        from brand
        where is_deleted = 0
        order by id desc
    </select>
</mapper>