<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codelucky.spzx.manager.mapper.product.CategoryMapper">

    <sql id="columns">
        id
        ,
       name,
       image_url,
       parent_id,
       status,
       order_num,
       create_time,
       update_time,
       is_deleted
    </sql>

    <!--删除表中数据-->
    <delete id="deleteData">
        delete
        from category
    </delete>

    <!--导入批量保存数据-->
    <insert id="batchInsert">
        insert into category(id,name,image_url,parent_id,status,order_num)
        values
        <foreach collection="cachedDataList" item="item" separator=",">
            (#{item.id},#{item.name},#{item.imageUrl},#{item.parentId},#{item.status},#{item.orderNum})
        </foreach>
    </insert>


    <!--    根据父级id查询下属子集分类列表-->
    <select id="findCategoryListByParentId" resultType="com.codelucky.spzx.model.entity.product.Category">
        select
        <include refid="columns"/>
        from category
        where parent_id = #{parentId}
    </select>
    <!--    根据当前分类的id，去统计子集分类的数量-->
    <select id="countByParentId" resultType="java.lang.Long">
        select count(id)
        from category
        where parent_id = #{parentId}
    </select>
    <!--    查询全部数据-->
    <select id="selectAllCategory" resultType="com.codelucky.spzx.model.entity.product.Category">
        select
        <include refid="columns"/>
        from category
        where is_deleted=0
        order by order_num
    </select>
</mapper>